body{background: #f4f4f4; }
#wrap{width: 100%; margin: 0 auto; font-family: 'Noto Sans', sans-serif;}
header{width: 100%; height: 80px; background: rgba(255,255,255,.4); z-index: 100; position: fixed; }
#banner{width: 100%; height: 100vh; position: relative;}
#about{width: 100%; height: 950px;}
#skill{width: 100%; height: 950px;}
#portfolio{width: 100%;}
#contact{width: 100%; height: 680px; background: url(../img/contac.png) no-repeat center center /cover; background-attachment: fixed}
#footer{width: 100%; height: 50px; background: #333;}

/* scroll */
.up-on-scroll{margin-top: 20px; transition: transform 1s, opacity 1.5s;}

/* 헤더 */
header .inner{width: 95%; margin: 0 auto;}
header h2{width: 200px; height: 80px;line-height: 80px;float: left; text-align: center;}
header h2 a{width: 100%; height:100%; font-size: 32px; color: #000;}
header nav{float: right; width: 40%;}
header nav .fas{display: none;}
header .var{display: none;}
header nav ul{display: flex; justify-content: space-between;}
header nav ul li{height: 80px; text-align: center; line-height: 80px;}
header nav ul li a{font-size: 20px; display: block; color: #000; font-weight: bold; height: 58px;}
header nav ul li a:hover{border-bottom: 3px solid #000;} 

/* 배너 */
#banner img{width: 100%; height: 100%;}
#banner .text_box{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(235,235,235,.1);}
#banner .text{position: absolute; top: 30%; left: 0; right: 0; bottom: 0; text-align: center; height: 20% ;}
#banner .text strong{font-size: 75px; line-height: 1.1; }
#banner .text strong .color1{color: lightgrey; text-shadow: 0 1px #000;}
#banner .text strong .color2{color: #fff; text-shadow: 0 1px #000;}
#banner .text p{font-size: 25px; text-align: center; margin-top: 35px; color: #fff; line-height: 1.4;  font-family: 'S-CoreDream-5Medium';}
#banner .scroll{}
#banner .scroll a{display: block; padding-top: 60px;}
#banner .scroll a span{position: absolute; bottom: 50px; left: 50%; width: 24px; height: 24px; margin-left: -12px; border-left: 1px solid #fff;
border-bottom: 1px solid #fff; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-animation: sdb 2s infinite; animation: sdb 2s infinite; box-sizing: border-box;}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/* 프로필 */
#about .con1{width: 65%; margin: 0 auto; padding-top: 275px;}
#about .con1 .profile{float: left; width:45%; height: 400px;}
#about .con1 .profile img{width: 100%; height: 100%;}
#about .con1 .me .name{font-size: 22px;}
#about .con1 .text{float: right; width: 50%; line-height: 1.5; padding-left: 40px; box-sizing: border-box; font-size: 16px; font-family: 'S-CoreDream-5Medium';}
#about .con1 .text h2{font-weight: bold; font-size: 1.4em;}
#about .con1 .history, #about .con1 .license{margin-top: 14px;}

/* 스킬 */
#skill .con2 h2{font-size: 40px; padding-top: 50px; margin: 0 auto; border-bottom: 4px solid rgb(0, 0, 0); width: 105px;}
#skill .con2 .skill_inner{width: 70%; margin: 0 auto; display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 30px; align-items: center; height: 500px;}
#skill .con2 .skill_inner .skill_box{width: 33.333%; text-align: center;}
#skill .con2 .skill_inner .skill_box .sk img{width: 140px; height: 140px;}
#skill .con2 .skill_inner .skill_box h4{margin-top: 5px; color: #444;}
#skill .con2 .skill_inner .progress{width: 70%; height: 10px; background-color: rgb(185, 185, 185); position: relative; border-radius: 5px; margin: 0 auto; margin-top: 10px;}
#skill .con2 .skill_inner .progress .bar{height: 100%; background: #000;border-radius: 5px; animation: animate 1.5s;}
#skill .con2 .skill_inner .progress .bar1{width: 90%;}
#skill .con2 .skill_inner .progress .bar2{width: 80%;}
#skill .con2 .skill_inner .progress .bar3{width: 30%;}
#skill .con2 .skill_inner .progress .bar4{width: 50%;}
#skill .con2 .skill_inner .progress .bar5{width: 60%;}

/* 포트폴리오 */
#portfolio .con3{width: 65%; margin: 0 auto; }
#portfolio .con3 h2{font-size: 40px; padding-top: 50px; margin: 0 auto; border-bottom: 4px solid #e1c360; width: 221px;}
#portfolio .port_wrap{width: 100%;  margin-top: 60px; display: flex; justify-content: space-around; flex-wrap: wrap; }
#portfolio .port_wrap .port{width: 40%; height: 300px; position: relative; border: 2px solid #ccc; box-sizing: border-box; margin-bottom: 20px;}
#portfolio .port_wrap .port:hover .title .text_area{opacity: 1;}
#portfolio .port_wrap .port .title{width: 100%; height: 100%; background: center center/cover;}
#portfolio .port_wrap .port:nth-child(6){background: #e1c360}
#portfolio .port_wrap .port:nth-child(6) .title{background: no-repeat 50% 50%;}
#portfolio .port_wrap .port .title .text_area{width: 100%; height: 100%; background: rgba(0,0,0,.8); position: relative; opacity: 0;  transition:all 0.3s ease; font-family: 'S-CoreDream-5Medium'}
#portfolio .port_wrap .port .title .text_area .area_inner{padding: 10px; height: 100%; width: 100%;  box-sizing: border-box; line-height: 2; position: relative;}
#portfolio .port_wrap .port .title .text_area h4{font-size: 35px; color: #fff; text-align: center;} 
#portfolio .port_wrap .port .title .text_area span{font-size: 15px; color: #fff; text-align: center; display: block; }
#portfolio .port_wrap .port .title .text_area a{display: block; width: 100px; height: 50px; line-height: 50px; border: 3px solid #e1c360; text-align: center; margin: 0 auto; font-size: 16px; color: #fff; border-radius: 30px; position: absolute; bottom: 15px; left: 50%; transform: translateX(-50%);}
#portfolio .port_wrap .port .title .text_area a:hover{background: #fff; color: #000;}
#portfolio button{background: 0; border: 0; transition: all .3s; cursor: pointer;}
#portfolio .port_wrap .port:nth-child(6) .title .text_area a{display: none;}
#portfolio button:hover{background: #333; color: #fff;}
#portfolio .more{width: 130px; height: 45px; margin: 0 auto; display: block; text-align: center; line-height: 45px; margin-top: 45px; border: 2px solid #333; box-sizing: border-box; color: #333; border: 2px solid #333; box-sizing: border-box; border-radius: 30px; }
#portfolio .close{width: 130px; height: 45px; margin: 0 auto; display: block; text-align: center; line-height: 45px; margin-top: 45px; border: 2px solid #333; box-sizing: border-box; color: #333; border: 2px solid #333; box-sizing: border-box; border-radius: 30px; display: none;}

/* 연락처*/
#contact .con4{width: 50%; margin: 0 auto;}
#contact .con4 h2{font-size: 40px; padding-top: 50px; margin: 0 auto; border-bottom: 4px solid #d78fa3; width: 183px;}
#contact .con4 .contact_inner{width: 100%; height: 300px; margin: 0 auto; background: rgba(0,0,0,.7); margin-top: 40px; margin-bottom: 40px; font-family: 'S-CoreDream-3Light';}
#contact .con4 .contact_inner ul{padding: 45px;}
#contact .con4 .contact_inner ul li{ text-align: center; margin-top: 5px;}
#contact .con4 .contact_inner ul li span{display: block; color: #fff; line-height: 1.5; font-size: 24px;}
#contact .con4 .contact_inner ul li span.tit{font-size: 18px; font-weight: bold;}
#contact .con4 p{text-align: center; color: #fff; font-size: 24px; line-height: 1.3; font-family: 'S-CoreDream-5Medium';}
/* footer */
#footer p{line-height: 50px; text-align: center; color: #fff; }

/* go to top */
aside div {width: 25px; height: 25px; background: rgba(255,255,255,.6); border: 1px solid #333; text-align: center; padding: 20px; margin-right: 20px; margin-bottom: 20px; position: fixed; right: 0; bottom: 0; border-radius: 50%; line-height: 25px;}
aside div .top {color: #333; display: block; text-decoration: none; font-weight: bold; font-size: 12px;}
aside div {display: none;}


/* s-cord-dream */
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}